.btn {
  &-primary {
    @apply transition-none flex items-center text-sm gap-3 py-3 px-4 rounded-lg text-color bg-transparent shadow-none  hover:bg-gray-200;
    span,
    svg {
      @apply transition-none;
    }
    &.active {
      @apply bg-gradient-to-r from-purple-50 to-primary border-primary text-white;
      // box-shadow: 0px 4px 20px 0px #686de080;
    }
  }
}
.shadow-custom {
  &-primary {
    box-shadow: 0px 4px 20px 0px #686de080;
  }
  &-destructive {
    box-shadow: 0px 4px 20px 0px #f4a4bb;
  }
  &-submit {
    box-shadow: 0px 4px 20px 0px #acd7bf;
  }
}
