.btn {
  &-primary {
    @apply transition-none relative flex items-center text-sm gap-3 py-3  pr-3 text-zinc-600 font-medium bg-transparent shadow-none  hover:bg-zinc-100;
    span,
    svg {
      @apply transition-none;
    }
    &.active {
      @apply bg-blue-50 border-primary text-primary;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        background: #0a82fd;
        width: 4px;
        height: 40px;
        border-radius: 0 8px 8px 0;
      }
      // box-shadow: 0px 4px 20px 0px #686de080;
    }
  }
}
.shadow-custom {
  &-primary {
    box-shadow: 0px 2px 5px 0px rgba(16, 24, 40, 0.03),
      0px 3px 7px 0px rgba(41, 120, 221, 0.06);
  }
  &-destructive {
    box-shadow: 0px 4px 20px 0px #f4a4bb;
  }
  &-submit {
    box-shadow: 0px 4px 20px 0px #acd7bf;
  }
}
