@tailwind base;
@tailwind components;
@tailwind utilities;

/*
* Give here css according to hex values
*/

@layer base {
  :root {
    --background: #f5f5f5;
    --foreground: 240 10% 3.9%;

    --card: #fff;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: #0a82fd;
    --primary-foreground: 0 0% 98%;
    --primary-50: #f9f5ff;

    --secondary: #f4f4f5;
    --secondary-foreground: 240 5.9% 10%;

    --muted: rgb(156, 155, 155);
    --muted-foreground: #a0aec0;

    --accent: #f4f4f5;
    --accent-foreground: 240 5.9% 10%;

    --destructive: #e94774;
    --destructive-foreground: 0 0% 98%;

    --border: "#E2E8F0";
    --input: #ccc;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

    --white: #fff;
    --sidebar: #fff;
    --color: #252c32;
    --separator: #e5e7eb;
  }

  .dark {
    --background: rgb(0, 0, 0, 0.4);
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: red;
    --primary-foreground: 240 5.9% 10%;

    --secondary: #27272a;
    --secondary-foreground: 0 0% 98%;

    --muted: #737373;
    --muted-foreground: 240 5% 64.9%;

    --accent: #27272a;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: #27272a;
    --input: #27272a;
    --ring: 240 4.9% 83.9%;
    --white: rgb(33, 37, 41, 1);
    --sidebar: #141414;
    --separator: #e5e7eb;
  }
}

@layer base {
  *,
  body {
    @apply m-0 p-0;
  }
  .sidebar {
    transition: 0.4s ease-in-out all;

    &::-webkit-scrollbar {
      width: 0;
      transition: 0.4s ease-in-out all;
    }
    &:hover {
      &::-webkit-scrollbar {
        width: 4px;
      }
    }
    span,
    svg,
    a,
    button,
    p {
      transition: 0.3s ease-in-out all;
    }
  }
}

* {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    margin-left: 4px;
    border-radius: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 8px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 8px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #ccc;
  }
}
@layer utilities {
  .gradient-bg {
    background: linear-gradient(
      170deg,
      #eef9ff 7.33%,
      #f3ecfe 47.83%,
      #ebebff 92.3%
    );
  }
}

.preview-pdf {
  width: 100%;
  height: 183px; //previously 200px
  * {
    width: 100% !important;
    height: 100% !important;
  }
}
.upload-preview {
  width: 100%;
  height: 100%;
  * {
    width: 100% !important;
    height: 100% !important;
  }
}
